<ion-header>
    <ion-toolbar>
        <ion-title>Nombre Usuario </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Seguidores</ion-label>
            <ion-badge color="primary">#???</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Me Gusta</ion-label>
            <ion-badge color="secondary"> #??? </ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Estrellas</ion-label>
            <ion-badge color="tertiary"> #??? </ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Terminado</ion-label>
            <ion-badge color="success"> #??? </ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Advertencias</ion-label>
            <ion-badge color="warning"> #??? </ion-badge>
        </ion-item>
        <ion-item>
            <ion-label>Notificaciones</ion-label>
            <ion-badge color="danger"> #??? </ion-badge>
        </ion-item>
    </ion-list>

    <ion-button (click)="gotoHome()"> Ir Al Inicio </ion-button>


    <ion-button [routerLink]="['/tablinks']">Go to HOME</ion-button>
</ion-content>

<ion-footer>

</ion-footer>
