ion-button{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

ion-button:hover{
 background-color: #4198ad;
}

ion-title{
  display:flex;
 align-items: center;
 justify-content:center;
 flex-direction: column;
}
