ion-button{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

ion-button:hover{
 background-color: #00ccff;
}

ion-title{
  display:flex;
 align-items: center;
 justify-content:center;
 flex-direction: column;
}

ion-label.optionss{
  color: white;
}
ion-icon.opICON{
  border-radius: 15px;
  color: white;
  box-shadow:rgb(0, 8, 77) 5px 5px 5px;
}
