<ion-header>
<ion-tab-bar>

</ion-tab-bar>
</ion-header>

<ion-content>
  <ion-header>

  </ion-header>

    <ion-card id="primarioCard" *ngFor="let multiMedia of multiMedia" [routerLink]="['/contenid', multiMedia.id]">
        <ion-item>
            <ion-avatar slot="start" *ngFor="let usuario of searchedUsuario">
                <img src="../../assets/contacto-img/{{usuario.icon}}" />
            </ion-avatar>
            <ion-label *ngFor="let usuario of searchedUsuario">
                <h4>{{usuario.name}}</h4>
                <h5>{{usuario.description}}</h5>
            </ion-label>
        </ion-item>
        <ion-card-header>
            <ion-card-title>{{multiMedia.name}}</ion-card-title>
        </ion-card-header>
        <img src="../../assets/contacto-img/{{multiMedia.Image}}"/>

    </ion-card>
<ion-item-divider>
  <ion-title class="divisor">Destacados</ion-title>
</ion-item-divider>

    <ion-row>
      <ion-col id="primarioCard" *ngFor="let multiMedia of multiMedia" sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-card [routerLink]="['/contenid', multiMedia.id]">
          <ion-card-title>{{multiMedia.name}}</ion-card-title>
          <img src="../../assets/contacto-img/{{multiMedia.Image}}"/>
        </ion-card>
      </ion-col>
    </ion-row>

</ion-content>

<ion-footer></ion-footer>
