<ion-header>
  <ion-tab-bar>
    <ion-toolbar>
      <ion-title>
        chat
      </ion-title>
    </ion-toolbar>
  </ion-tab-bar>
</ion-header>

<ion-content><ion-title></ion-title>
  <ion-header>
  </ion-header>

  <ion-content class="ion-align-items-center" class="ion-justify-content-center" slot="">
    <ion-title class="ion-text-center" >Chat</ion-title>

          <div>
            <ion-button>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-title>bandeja de entrada</ion-title>
            </ion-button>
          </div>

          <div>
            <ion-button>
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-title>bandeja de salida</ion-title>
            </ion-button>
          </div>

          <div>
            <ion-button>
              <ion-icon name="heart" slot="start"></ion-icon>
              <ion-title>Favoritos</ion-title>
            </ion-button>
          </div>

          <div>
            <ion-button>
              <ion-icon name="archive" slot="start"></ion-icon>
              <ion-title>Archivados</ion-title>
          </ion-button>
          </div>

          <div>
            <ion-button>
              <ion-icon name="trash" slot="start"></ion-icon>
               <ion-title>Basura</ion-title>
             </ion-button>
          </div>

          <div>
            <ion-button>
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-title>Spam</ion-title>
            </ion-button>
          </div>
  </ion-content>


</ion-content>
