<ion-header>
  <ion-tab-bar>
    <ion-toolbar>
      <ion-title>
        Anuncios y Mensajes.
      </ion-title>
    </ion-toolbar>
  </ion-tab-bar>
</ion-header>

 <ion-content class="ion-align-items-center" class="ion-justify-content-center" slot="center">
  <ion-title class="ion-text-center" >Anuncios y Mensajes.</ion-title>
          <div>
            <ion-button>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Recibidos</ion-label>
            </ion-button>
          </div>

          <div>
            <ion-button>
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>Enviados</ion-label>
            </ion-button>
          </div>

          <div>
            <ion-button>
              <ion-icon name="heart" slot="start"></ion-icon>
              <ion-label>Favoritos</ion-label>
            </ion-button>
          </div>

          <div>
            <ion-button>
              <ion-icon name="archive" slot="start"></ion-icon>
              <ion-label>Archivados</ion-label>
          </ion-button>
          </div>

          <div>
            <ion-button>
              <ion-icon name="trash" slot="start"></ion-icon>
               <ion-label>Basura</ion-label>
             </ion-button>
          </div>

          <div>
            <ion-button>
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Spam</ion-label>
            </ion-button>
          </div>
</ion-content>
<ion-footer>

</ion-footer>

