<ion-header>
</ion-header>

<ion-content>


    <ion-tab-button>
      <div>
        <ion-button>
          <ion-icon name="share-outline" (click)="onClick()"></ion-icon>
          <ion-title>Subir Elemento</ion-title>
        </ion-button>
      </div>
      <div>
        <ion-button>
          <ion-icon name="cloud-done-outline" (click)="onClick()"></ion-icon>
          <ion-title>Compartir</ion-title>
        </ion-button>
      </div>
    </ion-tab-button>


</ion-content>

<ion-footer>
</ion-footer>



