<ion-content>
  <ion-header>
    <ion-tab-bar>
        <ion-tab-button>
        <ion-title>Crear</ion-title>

        <ion-button><ion-icon slot="top" name="add"></ion-icon></ion-button>

    </ion-tab-button>
    </ion-tab-bar>
  </ion-header>
  <div>

  </div>
  <ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="add">agregar1</ion-icon>
      </ion-fab-button>
    </ion-fab>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="arrow-forward-circle">flecha1</ion-icon>
      </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the top start -->
  <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button>
          <ion-icon name="arrow-back-circle">flecha2</ion-icon>
      </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button>
          <ion-icon name="arrow-up-circle">flecha3</ion-icon>
      </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the (vertical) center and start -->
  <ion-fab vertical="center" horizontal="start" slot="fixed">
      <ion-fab-button>
          <ion-icon name="share">compartir</ion-icon>
      </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="add">gregar2</ion-icon>
      </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button>
          <ion-icon name="person">persona</ion-icon>
      </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
  <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
      <ion-fab-button>
          <ion-icon name="settings">ajustes</ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
          <ion-fab-button>
              <ion-icon name="logo-vimeo">no se wei</ion-icon>
          </ion-fab-button>
      </ion-fab-list>
  </ion-fab>

  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button>
          <ion-icon name="share">compartir</ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button>
              <ion-icon name="logo-vimeo">no se wei</ion-icon>
          </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
          <ion-fab-button>
              <ion-icon name="logo-facebook">facebook</ion-icon>
          </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
          <ion-fab-button>
              <ion-icon name="logo-instagram">el_insta</ion-icon>
          </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
          <ion-fab-button>
              <ion-icon name="logo-twitter">pajaro</ion-icon>
          </ion-fab-button>
      </ion-fab-list>
  </ion-fab>
  </ion-content>

<ion-footer>
  <ion-title>Footer1</ion-title>
</ion-footer>

 </ion-content>


